[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{gradle,java}]
indent_style = tab
ij_continuation_indent_size = 8
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,*,|,net.fabricmc.**
ij_java_class_count_to_use_import_on_demand = 999

[*.{yml,yaml}]
indent_style = space
indent_size = 2
